.myBtn {
    padding: 8px 12px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

#publishResult {
    display: none;
}

textarea {
    resize: none;
}

.field-input {
    width: 300px;
    height: 40px;
}

td {
    padding-left: 20px;
    padding-right: 20px;
}