<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
    <title>Kafka Simulator</title>
</head>
<body>
<form method="POST" id="eventForm" th:object="${eventDetails}" action="#" th:action="@{'/publish'}">
    <table>
        <tr>
            <td>
                <p>Enter the payload</p>
                <textarea id="payload" th:field="*{payload}" placeholder="Enter the payload" rows="32"
                cols="80" required></textarea>
            </td>
            <td>
                <p>Enter the topic name</p>
                <input id="topic" type="text" th:field="*{topic}" placeholder="Enter the topic name"
                style="width:300px; height:50px" required>
                <br><br>
                <input type="submit" class="myBtn" style="background-color: #0D0">
                <input type="button" class="myBtn" value="Reset" style="background-color: #555" onclick="resetForm()">
            </td>
        </tr>
    </table>
</form>
<p id="publishResult" th:each="msg : ${publishResult}" th:text="${msg}">Hello!</p>
<h1 th:each="msg : ${publishResult}" th:text="${msg}">Hello, homepage!</h1>
</body>
<script>
    $(document).ready(function() {
        let result = $("publishResult").text();
        if (result == 'success') {
            console.log('Event was published...');
            alert('Event Published! Publish another one...');
        }
        else if (result == 'failure') {
            console.log('Event publishing failed...');
            alert('Something went wrong! Please try again...');
        }
    });
    function resetForm() {
        document.getElementById("payload").value = '';
        document.getElementById("topic").value = '';
    }
</script>
<style>
    .myBtn {
        padding: 8px 12px;
        color: white;
        border-radius: 5px;
        cursor: pointer;
    }
    #publishResult {
        display: none;
    }
    textarea {
        resize: none;
    }
</style>
</html>